DEBUG=True

POSTGRES_DB_CONNECTION_URL=postgresql://user:password@localhost:5432/work
REDIS_DB_CONNECTION_URL=redis://:password@localhost:6379/0

TELEGRAM_BOT=your_bot_token_here
TELEGRAM_CHANNEL=your_channel_id_here
